

header{
    background-color: blue;

}

h1{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}

.lista{
    display: inline;
    font-weight: bold

}
.container{
    padding: 20px;

}