

.cabecalho{
    background-color: blue;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}

.lista{
    display: inline;
    font-weight: bold

}
.container{
    padding: 20px;

}
#conteudo{
    line-height: 1.5;
}

form{
    padding: 10px;
    border: 1px solid gray;
}

p{
    color: green;
}

button {
    background-color: blue; 
    color: white;
}
footer{
    border-top: 2px solid red;
}
